<div class="form-group">
  <label for="exampleInputEmail1">Email adresa</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
    placeholder="Unesite email" [(ngModel)]="model.email" name="email">
  <small id="emailHelp" class="form-text text-muted">Mi nikada nećemo deliti vaš email sa drugima.</small>
</div>
<div class="form-group">
  <label for="exampleInputPassword1">Lozinka</label>
  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Lozinka"
    [(ngModel)]="model.password" name="password">
</div>
<div class="form-group form-check">
  <input type="checkbox" class="form-check-input" id="exampleCheck1" name="rememberMe">
  <label class="form-check-label" for="exampleCheck1">Zapamti me</label>
</div>
<button type="submit" class="btn btn-primary">Potvrdi</button>