<nav class="navbar navbar-expand-sm navbar-light" id="neubar">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="../assets/img/barber.jpg" height="60" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 active" [routerLink]="['/home']">O Nama</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']" >Registracija</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 active" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLink]="['/term']">Rezervisi termin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLink]="['/price']">Cenovnik</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLink]="['/contact']">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<br>
<br>
<br>
<br>
<router-outlet></router-outlet>

